/**************** banner part css start ****************/
.banner_part {
  margin: 0;
  margin-top: 60px;
  background-color: $section_bg;

  .single_banner_slider {
    .banner_img {
      width: 100%;
      aspect-ratio: 16/9;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: right;
      }
      a {
        position: absolute;
        bottom: 400px;
        left: 100px;
        @media #{$extra_big_screen} {
          bottom: 520px;
          left: 120px;
        }
        @media #{$medium_device} {
          bottom: 260px;
          left: 60px;
        }
        @media #{$tab_device} {
          bottom: 190px;
          left: 50px;
        }
        @media #{$large_mobile} {
          bottom: 130px;
          left: 40px;
        }
        @media #{$small_mobile} {
          bottom: 90px;
          left: 25px;
        }
        
        
      }
    }
  }

  .owl-theme {
    .owl-dots {
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      left: 0;
      right: 0;
      bottom: 0;
      text-align: center;

      padding: 20px 0;
      @media #{$tab_device} {
        padding: 0 0 20px;
      }

      .owl-dot {
        span {
          background: #747474 !important;
        }
      }
      .owl-dot.active,
      .owl-dot:hover {
        span {
          background: white !important;
        }
      }
    }

    .owl-nav {
      margin: 0;
      .owl-next,
      .owl-prev {
        position: absolute;
        top: 45%;
        @media #{$tab} {
          display: none;
        }
        @media #{$medium_device} {
          display: none;
        }
      }
      .owl-next {
        right: 20px;
      }
      .owl-prev {
        left: 20px;
      }
      .owl-prev:hover,
      .owl-next:hover {
        background: none !important;
      }
    }
  }
}
/**************** hero part css end ****************/
