.order_confirmation {
    max-width: 600px;
    margin: auto;
    padding: 30px 25px;
    font-size: 13px;
    line-height: 24px;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #ffffff;
}
.order_code_text {
    font-size: 16px;
    color: $subtext2;
}

.order_title{
    margin-bottom: 10px;
    h1 {
        font-size: 20px;
        font-weight: 600;
        color: #333;
        margin-bottom: 20px;
    }
    .customer_name {
        font-weight: 700;
    }
}

.info_title {
    font-weight: 700;
    font-size: 15px;
    margin-bottom: 10px;
}

.order_info {
    background-color: $grey;
    padding: 10px 10px;
    margin-bottom: 10px;
    gap: 0;
    .customer_name, .customer_phone, .customer_address {
        font-weight: 700;
    }
}

.order_summary {
    width: 50%;
    padding-left: 10px;
    border-left: 1px solid $hover;
    .deliver_time, .payment_status {
        font-weight: 700;
    }
}

.order_customer {
    width: 50%;
    padding-right: 10px;
    
}

.order_details {
    padding: 10px 0;
    .details_title {
        font-weight: 700;
        font-size: 15px;
    }
    
    .order_time, .product_name, .subtotal_price {
        font-weight: 700;
    }

    .order_item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: start;
        padding: 10px 0;
        border-bottom: 1px solid #ddd;
        .item_details {
            display: flex;
            gap: 10px;
        }
        img {
            height: 80px;
            width: 80px;
        }
        .item_quantity {
            border-bottom: 1px solid #ddd;
        }
    }

    .order_item:last-child {
        border-bottom: none;
    }
}

.order_total {
    display: flex;
    gap: 20px;
    justify-content: right;
    .order_total_text {
        text-align: right;
    }
    .order_total_price {
        text-align: right;
    }
    .total_payment {
        font-weight: 700;
    }
}



.thank_you {
    text-align: center;
    margin-top: 40px;
    a {
        color: $black;
        font-weight: 700;
        text-decoration: none;
    }
    a:hover {
        text-decoration: underline;
    }
}