/************* our offer *****************/
.our_offer {
  background-color: $black;
  padding-top: 50px;
  padding-bottom: 70px;
  text-align: center;
  .offer_text {
    h2 {
      line-height: 60px;
      color: $white;
      font-size: 40px;
      margin-bottom: 50px;
      span {
        font-family: Caveat, cursive;
        font-size: 60px;
        margin-right: 10px;
        @media #{$small_mobile} {
          font-size: 50px;
        }
      }
      @media #{$small_mobile} {
        font-size: 30px;
      }
    }
  }
}
