/***************** related product css *******************/
.related_product {
    background-color: $white;
    .section_tittle {
        text-align: left !important;
        h2 {
            font-size: 35px;
            color: $black-color;
            @media #{$small_mobile} {
                text-align: center;
            }
            span {
                font-family: $special_font;
                font-size: 50px;
            }
        }
    }

    .product_list_slider {
        padding-bottom: 70px;
    }

    .owl-theme {
        .owl-dots {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            left: 0;
            right: 0;
            bottom: 0;
            text-align: center;

            padding: 20px 0;
            @media #{$tab_device} {
                padding: 0 0 20px;
            }

            .owl-dot {
                span {
                    background: #adadad !important;
                }
            }
            .owl-dot.active,
            .owl-dot:hover {
                span {
                    background: rgb(0, 0, 0) !important;
                }
            }
        }

        .owl-nav{
            margin: 0;
            position: absolute;
            right: 0;
            top: -115px;
            @media #{$small_mobile} {
                display: none;
            }
            @media #{$tab_device} {
                display: none;
            }
            @media #{$medium_device} {
                display: none;
            }
            .owl-next, .owl-prev{
                color: #adadad;
                margin: 10px;
            }
            .owl-prev:hover,
            .owl-next:hover {
            color: $black-color;
            background: none !important;
        }
        } 
    }
}



