<!doctype html>
<html lang="zxx">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Deprop Studio</title>
    <link rel="icon" href="/images/logo/favicon_black.svg">
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <!-- plugin CSS -->
    <link rel="stylesheet" href="/plugins/owl.carousel.min.css">
    <link rel="stylesheet" href="/plugins/owl.theme.default.min.css">
    <!-- icons CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@icon/themify-icons@1.0.1-alpha.3/themify-icons.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <!-- style CSS -->
    <link rel="stylesheet" href="/css/user.css">
</head>

<body>
    <div class="spinner-wrapper">
        <div class="spinner-border text-light" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>

    <!--::header part start::-->
    <header class="main_menu home_menu">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-12">
                    <nav class="navbar navbar-expand-lg navbar-light">
                        <a class="navbar-brand" href="/"> <img src="/images/logo/white_logo.png" alt="logo"> </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                            <span class="menu_icon"><i class="fas fa-bars"></i></span>
                        </button>
    
                        <div class="collapse navbar-collapse main-menu-item" id="navbarSupportedContent">
                            <ul class="navbar-nav">
                                <li class="nav-item active">
                                    <a class="nav-link" href="/">Trang chủ</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/category">
                                        Sản phẩm
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/combo">
                                        Combo
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/policy">
                                        Chính sách
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" href="/contact">liên hệ</a>
                                </li>
                            </ul>
                        </div>
                        <div class="hearer_icon d-flex">
                            <a id="search_1" href="javascript:void(0)"><i class="ti-search"></i></a>
                            <a class="cart" data-bs-toggle="offcanvas" href="#quickCart" role="button" aria-controls="quickCart">
                                <i class="fas fa-shopping-cart"></i>
                                <span class="total_quantity"></span>
                            </a>
                            
                        </div>
                    </nav>
                </div>
            </div>
        </div>
        <div class="search_input" id="search_input_box">
            <div class="container">
                <form class="d-flex justify-content-between search-inner">
                    <input type="text" class="form-control" id="search_input" placeholder="Bạn đang cần tìm...">
                    <button type="submit" class="btn"></button>
                    <span class="ti-close" id="close_search" title="Close Search"></span>
                </form>
            </div>
        </div>
    </header>
    <!-- Header part end-->

    <!-- banner part start-->
    <section class="banner_part">
        <div class="banner_slider owl-carousel owl-theme">
            <div class="single_banner_slider">
                <div class="banner_img">
                    <img src="/images/banner/bg1.jpg" alt="">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Giới thiệu</h1>
                            <p class="text-muted">Incididunt ut labore et dolore magna aliqua quis ipsum
                                suspendisse ultrices gravida. Risus commodo viverra</p>
                            <a href="/contact" class="custom_btn btn_white">Về chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_banner_slider">
                <div class="banner_img">
                    <img src="/images/banner/bg1.jpg" alt="">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Giới thiệu</h1>
                            <p class="text-muted">Incididunt ut labore et dolore magna aliqua quis ipsum
                                suspendisse ultrices gravida. Risus commodo viverra</p>
                            <a href="/contact" class="custom_btn btn_white">Về chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_banner_slider">
                <div class="banner_img">
                    <img src="/images/banner/bg1.jpg" alt="">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Giới thiệu</h1>
                            <p class="text-muted">Incididunt ut labore et dolore magna aliqua quis ipsum
                                suspendisse ultrices gravida. Risus commodo viverra</p>
                            <a href="/contact" class="custom_btn btn_white">Về chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="single_banner_slider">
                <div class="banner_img">
                    <img src="/images/banner/bg1.jpg" alt="">
                    <div class="banner_text">
                        <div class="banner_text_iner">
                            <h1>Giới thiệu</h1>
                            <p class="text-muted">Incididunt ut labore et dolore magna aliqua quis ipsum
                                suspendisse ultrices gravida. Risus commodo viverra</p>
                            <a href="/contact" class="custom_btn btn_white">Về chúng tôi</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- banner part start-->

    <!-- combo_part start-->
    <section class="feature_part">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-8">
                    <div class="section_tittle text-center">
                        <h4>Tiết kiệm chi phí cùng với</h4>
                        <h2 class="">Theme Combo</h2>
                    </div>
                </div>
            </div>
            <div class="row align-items-center justify-content-between">
                <div class="col-lg-12">
                    <div class="feature_slider owl-carousel owl-theme">

                        <div class="single_feature_slider" th:each="product : ${products}"  th:if="${product.name == 'Combo Tết'}">
                            <div class="row">
                                <div class="feature_text col-lg-3">
                                    <p>Premium Quality</p>
                                    <h3 th:text="${product.name}">Latest foam Sofa</h3>
                                    <a href="/combo" class="custom_btn btn_black">Xem ngay</i></a>
                                </div>
                                <div class="feature_img col-lg-9">
                                    <img th:src="@{'data:image/png;base64,'+${product.image}}" alt="Product Image">
                                </div>
                            </div>
                        </div>

                        <div class="single_feature_slider" th:each="product : ${products}"  th:if="${product.name == 'Combo Giáng Sinh'}">
                            <div class="row">
                                <div class="feature_text col-lg-3">
                                    <p>Premium Quality</p>
                                    <h3 th:text="${product.name}">Latest foam Sofa</h3>
                                    <a href="/combo" class="custom_btn btn_black">Xem ngay</i></a>
                                </div>
                                <div class="feature_img col-lg-9">
                                    <img th:src="@{'data:image/png;base64,'+${product.image}}" alt="Product Image">
                                </div>
                            </div>
                        </div>

                        <div class="single_feature_slider" th:each="product : ${product}"  th:if="${product.name == 'Combo Vintage'}">
                            <div class="row">
                                <div class="feature_text col-lg-3">
                                    <p>Premium Quality</p>
                                    <h3 th:text="${product.name}">Latest foam Sofa</h3>
                                    <a href="/combo" class="custom_btn btn_black">Xem ngay</i></a>
                                </div>
                                <div class="feature_img col-lg-9">
                                    <img th:src="@{'data:image/png;base64,'+${product.image}}" alt="Product Image">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- combo part start-->

    <!-- best-picked-item start-->
    <section class="product_list">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-lg-12">
                    <div class="section_tittle">
                        <h2>Sản phẩm <span>nổi bật</span></h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="product_list_slider owl-carousel owl-theme">
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-3 col-sm-6 col-6" th:each="product, productStat : ${products}"
                                     th:if="${product.status.displayName == 'Nổi Bật' && productStat.index % 2 == 0}">
                                    <div class="single_product_item">
                                        <a th:href="@{'/product/' + ${product.id}}">
                                            <img th:src="@{'data:image/png;base64,'+${product.image}}" alt="Product Image">
                                            <span class="product_tag" th:text="${product.status.displayName}"></span>
                                        </a>
                                        <div class="single_product_text">
                                            <h5 class="product_category">
                                                <a class="text-muted-1 category-link" href="#"  th:attr="data-category=${product.category.categoryName}"
                                                   th:text="${product.category.categoryName}"></a>
                                            </h5>
                                            <h4 class="product_title" >
                                                <a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a>
                                            </h4>
                                            <div class="product_price current_prefix">
                                                <a th:text="${product.price}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="single_product_list_slider">
                            <div class="row align-items-center justify-content-between">
                                <div class="col-lg-3 col-sm-6 col-6" th:each="product, productStat : ${products}"
                                     th:if="${product.status.displayName == 'Nổi Bật' && productStat.index % 2 == 0}">
                                    <div class="single_product_item">
                                        <a th:href="@{'/product/' + ${product.id}}">
                                            <img th:src="@{'data:image/png;base64,'+${product.image}}" alt="Product Image">
                                            <span class="product_tag" th:text="${product.status.displayName}"></span>
                                        </a>
                                        <div class="single_product_text">
                                            <h5 class="product_category">
                                                <a class="text-muted-1 category-link" href="#"  th:attr="data-category=${product.category.categoryName}"
                                                   th:text="${product.category.categoryName}"></a>
                                            </h5>
                                            <h4 class="product_title" >
                                                <a th:href="@{'/product/' + ${product.id}}" th:text="${product.name}"></a>
                                            </h4>
                                            <div class="product_price current_prefix">
                                                <a th:text="${product.price}"></a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- best-pick-item start-->

    <!-- offer_part start-->
    <section class="our_offer">
        <div class="container">
            <div class="offer_text">
                <h2>Cùng chọn sản phẩm decor<br> <span>phù hợp</span> với bạn nhé.</h2>
            </div>
            <a href="/category" class="custom_btn btn_white">Đến cửa hàng</a>

        </div>
    </section>
    <!-- offer_part start-->

    <!--::footer_part start::-->
    <footer class="footer_part">
        <div class="footlink_part">
            <div class="container">
                <div class="row justify-content-around">
                    <div class="col-sm-6 col-lg-5">
                        <nav class="navbar">
                            <a class="nav-brand" href="/"> <img src="/images/logo/white_logo.png" alt="logo"> </a>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="single_footer_part">
                            <h4>Our Page</h4>
                            <ul class="list-unstyled">
                                <li><a href="/">Trang chủ</a></li>
                                <li><a href="/category">Sản phẩm</a></li>
                                <li><a href="/category">Combo</a></li>
                                <li><a href="/contact">Liên hệ</a></li>
                                
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-2">
                        <div class="single_footer_part">
                            <h4>Our Social</h4>
                            <ul class="list-unstyled">
                                <li><a target="_blank" href="https://www.facebook.com/profile.php?id=61560555539153">Facebook</a></li>
                                <li><a target="_blank" href="https://www.instagram.com/deprop_studio/">Instagram</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-sm-6 col-lg-3">
                        <div class="single_footer_part">
                            <h4>Our Contact</h4>
                            <ul class="list-unstyled">
                                <li><a href="mailto:deprop.contact@gmail.com">deprop.contact@gmail.com</a></li>
                                <li><a href="tel:0901131465">0901131465</a></li>
                                <li><a>District 9, Ho Chi Minh city</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        
        <div class="copyright_part">
            <div class="container">
                <div class="copyright_text d-flex align-items-center justify-content-between">
                    <span>
                      <a>DeArt Corp</a>. All rights reserved.
                    </span>
                    <span>&copy;<script>document.write(new Date().getFullYear());</script></span>
                </div>
            </div>
        </div>
    </footer>
    <!--::footer_part end::-->
    
    <!-- quick_cart start -->
    <div class="quick_cart offcanvas offcanvas-end" data-bs-scroll="true" data-bs-backdrop="true" tabindex="-1" id="quickCart" aria-labelledby="quickCartLabel">
        <div class="offcanvas-header">
            <h4 class="offcanvas-title" id="quickCartLabel">Giỏ hàng</h4>
            <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <div class="offcanvas-body">
            <div class="cart_area">
            </div>
        </div>
        <div class="offcanvas-footer">
            <div class="total_area d-flex align-items-center justify-content-between">
                <span class="total_text">Tổng:</span>
                <span class="total_price"></span>
            </div>
            <div class="cart_button row">
                <a href="/cart" class="custom_btn btn_black btn-block">View cart</a>
            </div>
        </div>
    </div>
    <!-- quick_cart end-->

    <button id="toTop">
        <i class="fas fa-chevron-up"></i>
    </button>

    <!-- jquery plugins here-->
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/moment@2.29.1/min/moment.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <!-- bootstrap js -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
    <!-- owl carousel plugin-->
    <script src="/plugins/owl.carousel.min.js"></script>
    <!-- manific-popup plugin-->
    <script src="/plugins/jquery.magnific-popup.js"></script>
    <!-- main js -->
    <script src="/js/jquery.js"></script>
    <script src="/js/common.js"></script>
    <script src="/js/addtocart.js"></script>
    <script src="/js/filter_sort.js"></script>
    <!-- extra js --> 
    <script src="/js/backtotop.js"></script>
    <script src="/js/loading.js"></script>
</body>

</html>