.breadcrumb_area {
	margin-top: 62px;
	background-color: $white;
	.breadcrumb {
		margin: 0;
		background-color: $white;
		padding: 20px 0;
		.breadcrumb-item {
			a {
				color: $black;
			}
		}
	}
	
}
