/* Main Button Area css
============================================================================================ */
.submit_btn{
	width: auto;
	display: inline-block;
	background: $white_color;
	padding: 0px 50px;
	color: #fff;
	font-size: 13px;
	font-weight: 500;
	line-height: 50px;
	border-radius: 5px;
	outline: none !important;
	box-shadow: none !important;
	text-align: center;
	border: 1px solid $border_color;
	cursor: pointer;
	@include transform_time(0.5s);
	&:hover{
		background: transparent;
		
	}
}
.btn_1{
	display: inline-block;
	padding: 9px 42px;
	border-radius: 50px;
	background-color: $section_bg;
	font-size: 15px;
	font-weight: 700;
	color: #333;
	@include transform_time(0.5s);
	&:hover{
		background-color: $btn_bg;
		color: $white_color;
	}
}

.btn_3{
	padding: 12px 40px;
	line-height: 24px;
	text-align: center;
	border-radius: 30px;
	font-size: 14px;
	font-family: $font_stack_2;
	font-weight: 500;
	color: $btn_bg;
    text-transform: capitalize;
	box-shadow: none !important;
	border: 1px solid $btn_bg;
	
	&:hover{
		background-color: $btn_bg;
		@extend %custom_btn_bg_1;
		color: $white_color;
		-o-transition: all .4s ease-in-out;
		-webkit-transition: all .4s ease-in-out;
		transition: all .4s ease-in-out;
		background-size: 200% auto;
	}
	@media #{$tab}{
		font-size: 12px;
		padding: 12px 20px;
		line-height: 24px;
	}
	@media #{$medium_device}{
		padding: 12px 30px;
		line-height: 24px;
	}
}

.btn_2{
	padding: 12px 40px;
	line-height: 24px;
	text-align: center;
	border-radius: 30px;
	background-color: $btn_bg;
	@extend %custom_btn_bg_1;
	font-size: 14px;
	font-family: $font_stack_2;
	font-weight: 500;
	color: $white_color;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-transform: capitalize;
	background-size: 200% auto;
	
	&:hover{
		color: $white_color !important;
		background-position: right center;
		box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
	}
	@media #{$tab}{
		font-size: 12px;
		padding: 12px 20px;
		line-height: 24px;
	}
	@media #{$medium_device}{
		padding: 12px 30px;
		line-height: 24px;
	}
}


.btn_4{
	padding: 12px 40px;
	line-height: 20px;
	text-align: center;
	border-radius: 30px;
	border: 2px solid $btn_bg;
	font-size: 13px;
	font-family: $font_stack_2;
	font-weight: 500;
	color: $btn_bg;
    -o-transition: all .4s ease-in-out;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
	text-transform: capitalize;
	background-size: 200% auto;
	&:hover{
		background-color: $btn_bg;
		@extend %custom_btn_bg_1;
		box-shadow: -1.717px 8.835px 29.76px 2.24px rgba(255, 51, 104, 0.18);
		color: $white_color !important;
		background-position: right center;
	}
	@media #{$tab}{
		padding: 12px 30px;
		line-height: 24px;
	}
	@media #{$medium_device}{
	
	}
}

.nav_btn {
	display: inline-block;

}
/*=================== custom button rule start ====================*/

.button{
	display: inline-block;
	border: 1px solid transparent;
	font-size: 15px;
	font-weight: 500;
	padding: 12px 54px;
	border-radius: 4px;
	color: $white_color;
	border: 1px solid $border_color;
	text-transform: uppercase;
	background-color: $btn_bg;
	cursor: pointer;
	@include transform_time(0.5s);

	@media(max-width: 767px){
		font-size: 13px;
		padding: 9px 24px;
	}

	&:hover{
		color: $white_color;
	}


	&-link{
		letter-spacing: 0;
		color: #3b1d82;
		border: 0;
		padding: 0;

		&:hover{
			background: transparent;
			color: #3b1d82;
		}
	}

	&-header{
		color: $white_color;
		border-color: $border_color;

		&:hover{
			background: #b8024c;
			color: $white_color;
		}
	}

	&-contactForm{
		color: $white_color;
		border-color: $border_color;
		padding: 12px 25px;

		// &:hover{
		// 	// border-color: $title-color;
		// 	// background: $title-color;
		// 	// color: $white_color;
		// }
	}
}


/* End Main Button Area css
============================================================================================ */