.cart_part {
    background-color: $white;
    padding-bottom: 100px;
    .cart_title {
        padding: 20px 0;
        border-bottom: 1px solid rgba(0,0,0,.125);
    }
    .cart_area {
        padding: 20px 15px;
    }
    .cart_item{
        margin-bottom: 20px;
        .product_img {
            width: 80px;
            height: 80px;
            object-fit: cover;
            object-position: center;
        }
        .product_text {
            gap: 5px;
            width: 450px;
            .product_title {
                font-size: 14px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            @media #{$small_mobile} {
                width: 130px;
            }
            @media #{$medium_device} {
                width: 300px;
            }
            @media #{$tab_device} {
                width: 200px;
            }
    
        }
        .product_count {
            margin: 0;
            border: 1px solid #ddd;
            border-radius: 50px;
            display: flex;
            align-items: center;
            padding: 10px;
            input {
              border: 0px solid transparent;
              text-align: center;
            }
            .input-number {
              display: inline-block;
              padding: 0;
              width: 50px;
              @media #{$small_mobile}{
                width: 30px;
              }
              @media #{$tab_device} {
                width: 50px;
              }
              @media #{$medium_device} {
                width: 60px;
              }
            }
            .ti-minus {
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                  background-color: #f3f3f3;
                }
            }
            .ti-plus {
                padding: 5px;
                border-radius: 50%;
                cursor: pointer;
                &:hover {
                  background-color: #f3f3f3;
                }
            }
        }
        .remove_item {
            color: $subtext2;
            cursor: pointer;
            &:hover {
                color: $black;
            }
        }
    }

    .card {
        .card-header {
            padding: 15px 15px;
            background-color: $black;
            color: $white;
        }
        .feedback-date {
            color: #f32f3f;
        }
    }
    .sticky-top {
        top: 100px
    }
}


.calendar-table {
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
    th, td {
        text-align: center;
        padding: 3px;
    }

    th {
        background-color: #f8f9fa;
        border: 1px solid #dee2e6;
    }
    td {
        border: 1px solid #dee2e6;
    }
    .applyBtn {
        background-color: $black;
    }
}

.daterangepicker {
    .calendar-table {
        .off {
            color: #adb5bd;
            text-decoration: none;
        }
        .active {
            background-color: $black;
            &:hover {
                background-color: rgb(30, 30, 30);
            }
        }
        .applyBtn {
            background-color: #adb5bd !important;
            
        }
    }

    .btn-primary {
        background-color: $black; /* Change apply button to black */
        border-color: $black;
    }
}
    