/**************** service_part css start ****************/
.feature_part {
  @include background("../img/bg_1.jpg");
  .section_tittle {
    margin-top: 70px;
    h2 {
      margin: 0 auto;
      width: 100%;
      font-size: 48px;
      @media #{$small_mobile} {
        font-size: 30px;
      }
    }
  }
  .owl-nav {
    padding-bottom: 70px;
    padding-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;

    .owl-prev,
    .owl-next {
        font-size: 7px;
        border: 2px solid $black_color;
        border-radius: 50% !important;
        background-color: transparent;
        color: $black_color;
        padding: 10px 10px !important;

        @media #{$medium_device} {
        }

        @media #{$tab} {  
        }
    }

    .owl-prev:hover, .owl-next:hover{
        background-color: $black_color;
        color: $white-color;
    }
}

  .single_feature_slider {
    margin-right: 10px;
    margin-left: 10px;
    padding: 30px;
    background: $black_color;
    border-radius: 18px;

    @media #{$small_mobile} {
      padding: 35px 20px;
    }

    @media #{$large_mobile} {
      padding: 35px 20px;
    }

    @media #{$tab_device} {
      padding: 35px 20px;
    }

    @media #{$medium_device} {

    }

    
    .feature_text {
      padding: 30px 30px;

      @media #{$small_mobile} {
        padding: 0px 20px;
        margin-bottom: 30px;
      }
      @media #{$large_mobile} {
        padding: 0px 20px;
        margin-bottom: 30px;
      }
      p {
        color: $text-color;
        line-height: 13px;
      }
  
      h3 {
        color: $text-color;
        font-size: 24px;
        font-weight: 700;
        margin-top: 21px;
  
        @media #{$small_mobile} {
          margin-top: 10px;
          margin-bottom: 20px;
        }
  
        @media #{$large_mobile} {
          margin-top: 10px;
          margin-bottom: 20px;
        }
      }

      .btn_2 {
        position: absolute;
        left: 30px;
        bottom: 30px;
        @media #{$small_mobile} {
          padding: 10px 30px;
          position:unset;
        }
        @media #{$large_mobile} {
          padding: 10px 30px;
          position:unset;
        }
        @media #{$tab_device} {
          right: 30px;
          left: auto;
          top: 30px;
          bottom: auto;
        }

        i {
          margin-left: 5px;
        }
      }

    }


    .feature_img {
      height: 400px;
      @media #{$small_mobile} {
        height: 300px;
      }

      img {
        display: inline-block;
        border-radius: 9px;
        height: 100%;
        width: 100%;
        object-fit: cover;
        object-position: bottom;
      }
    }
    
  }
}