/**********************footer part css*******************/
.footer_part {
	background-color: $black;
	border-top: 0.5px solid #222222;

	img {
		margin-bottom: 35px;
	}
	.footlink_part {
		padding: 50px;
	}
	
	.navbar {
		padding: 0 15px;
		@media #{$small_mobile} {
			padding: 0px;
		}
	
		@media #{$large_mobile} {
			padding: 0px;
		}
	
		@media #{$tab_device} {
			padding: 0px;
		}
		.nav-brand{
			max-width: 150px;
		}
	}


	.single_footer_part {
		@media #{$small_mobile} {
			margin-bottom: 20px;
		}

		@media #{$large_mobile} {
			margin-bottom: 20px;
		}

		@media #{$tab_device} {
			margin-bottom: 20px;
		}

		@media #{$medium_device} {}

		h4 {
			font-size: 20px;
			margin-bottom: 30px;
			font-weight: 500;
			color: $white;

			@media #{$small_mobile} {
				margin-bottom: 15px;
			}

			@media #{$large_mobile} {
				margin-bottom: 15px;
			}

			@media #{$tab_device} {
				margin-bottom: 15px;
			}

			@media #{$medium_device} {
				font-size: 19px;
			}
		}

		p {
			margin-bottom: 10px;
		}

		.list-unstyled {
			li {
				a {
					color: $subtext;
					margin-bottom: 10px;
					display: inline-block;
					&:hover {
						color: $subtext1 !important;
					}
				}
			}
		}
	}

	.copyright_part{
		padding: 15px 0px;
		span{
			text-align: center;
			color: $subtext;
			font-family: 300;
			a{
				color: $white !important;
			}
		}
	}


}