.successnoti_part {
    height: 100%;
    display: flex;
    font-size: 16px;
    position: relative;
    .successnoti_area {
        margin: auto;
        text-align: center;
        width: 50%;
        @media #{$small_mobile} {
            width: 80%;
        }
        @media #{$tab_device} {
            width: 70%;
        }
        @media #{$medium_device} {
            width: 70%;
        }
    }

    .successnoti_title {
        .successnoti_text {
            font-size: 30px;
            font-weight: 600;
        }
    }

    .ordercode_text {
        b {
            color: black;
        }
    }

    b {
        color: black;
    }


    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 40px;
        position: absolute;
        top: 0%;
        bottom: auto;
        left: 50%;
        right: auto;
        transform: translate(-50%);
        img {
            width: 100px;
            display: inline-block;
        }
    }




}