/***************** single product item css *******************/
.single_product_item {
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: none;
    box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
    img{
        width: 100%;
        height: 300px;
        object-fit: cover;
        object-position: center;
        border-radius: 8px 8px 0 0;
        @media #{$small_mobile} {
            height: 200px;
        }
        @media #{$tab_device}{
            height: 400px;
        }
        @media #{$medium_device} {
            height: 250px;
        }
    }

    .product_tag_sale {
        background-color: $btn_bg;
        color: $white;
        padding: 5px 15px 5px 10px;
        border-radius: 0 20px 20px 0;
        position: absolute;
        top: 20px;
        left: 12px;
    }
    
    .single_product_text {
        border-radius: 0 0 8px 8px;
        padding: 20px 15px;
        background-color: $white_color;
        @include transform_time(0.5s);
        .product_category {
            margin: 0;
            a {
                font-size: 13px;
                color: $font_1;
                margin-bottom: 5px;
                &:hover {
                    color: $black-color;
                }
            }
            
        }

        .product_title {
            margin: 0;
            a {
                font-weight: 700;
                font-size: 16px;
                margin-bottom: 10px;
                color: $black_color;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }

        .product_price {
            .price_regular {
                font-size: 16px;
                color: $black_color;
            }

            .sale {
                color: #adadad !important;
                font-size: 14px !important;
                text-decoration: line-through;
            }

            .price_sale {
                padding-left: 5px;
                font-size: 16px;
                color: $btn_bg;
                font-weight: 500;
            }

            .price_regular, .price_sale {
                @media #{$small_mobile} {
                    font-size: 15px;
                }
            }
        }

        a {
            display: inline-block;
            width: 100%;
            @media #{$tab} {
                font-size: 12px;
            }
            @media #{$medium_device} {
                font-size: 13px;
            }
            i {
                margin-right: 5px;
                font-size: 15px;
                @media #{$tab} {
                    font-size: 12px;
                }
            }
        }
        
    }
}