$font_stack_1: 'Be Vietnam Pro', sans-serif;
$font_stack_2: 'Be Vietnam Pro', sans-serif;
$body-font: 'Be Vietnam Pro', sans-serif;
$title-font: 'Be Vietnam Pro', sans-serif;
$special_font: 'Caveat', cursive;
/*Color Variables*/

$primary-color  : #71cd14;
$title-color    : #fff;
$text-color     : #fff;
$offwhite       : #f6f6f6;
$white: #fff;
$black: #000;
$grey: rgba(129, 129, 139, .2);
$hover: rgba(74, 74, 80, 0.2);
$subtext: #6E6E6E;
$subtext1: rgba(255, 255, 255, 0.7);

$white_color: #fff;
$black_color: #000;
$menu_color: rgb(255,255,255,0.7);
$icon_color: #0c2e60;
$icon_bg: #f0f4f6;
$author_text_color: #556172;
$section_bg: #000000;
$color_1: #f8fbff;
$color_2: #fffbf9;
$color_3: #fafafa;
$color_4: #fffcf4;
$btn_bg: #ff3368;
$primary_color: #ff3368;
$btn_hover: #f5790b;
$section_bg_1: #454545;
$heading_color: #1a1a1a;
$heading_color2: #ff8b23;
$p_color: #7f7f7f;
$font_1: #666666;
$font_2: #222222;
$font_3: #7f7f7f;
$font_4: #8a8a8a;
$font_5: #999999;
$font_6: #666666;
$font_7: #777777;
$font_8: #888888;
$font_d: #dddddd;
$border_color: #edeff2;
$footer_bg: #ffffff;
$sidebar_bg: #fbf9ff;



$small_mobile:'(max-width: 576px)';
$large_mobile: 'only screen and (min-width: 576px) and (max-width: 767px)';
$tab_device:'only screen and (min-width: 768px) and (max-width: 991px)';
$medium_device : 'only screen and (min-width: 992px) and (max-width: 1200px)';
$big_screen:'only screen and (min-width: 1200px)';
$extra_big_screen: 'only screen and (min-width: 1440px)';

$tab:'(max-width: 991px)';



  
  
  