<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Product List</title>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">-->
</head>
<body>
<h1>Product List</h1>
<div class="product-list">
    <div class="row align-items-center latest_product_inner" th:each="products : ${products}">
        <div class="col-lg-4 col-sm-6 col-6">
            <div class="single_product_item">
<!--                <img th:src="@{'data:image/png;base64,' + ${products.images[0].imageData}}" alt="Product Image">-->
                <div class="single_product_text">
                    <h4 th:text="${products.name}"></h4>
                    <h3 th:text="${products.price}"></h3>
                    <a th:href="@{'/product/' + ${products.id}}" class="view_detail">View Detail</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
