<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <title>Product Detail</title>
<!--    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">-->
</head>
<body>
<h1>Product Detail</h1>
<div class="product-detail">
<!--    <img th:src="@{'data:image/png;base64,' + ${product.images[0].imageData}}" alt="Product Image">-->
    <h2 th:text="${product.name}"></h2>
    <p th:text="${product.description}"></p>
    <h3 th:text="${product.price}"></h3>
    <button id="addToCartButton" th:data-id="${product.id}">Add to Cart</button>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function() {
        document.getElementById("addToCartButton").addEventListener("click", function() {
            const productId = this.getAttribute("data-id");
            fetch(`/add-to-cart/${productId}`, {
                method: 'POST'
            }).then(response => {
                if (response.ok) {
                    alert('Product added to cart');
                    console.log(productId);
                } else {
                    alert('Failed to add product to cart');
                }
            }).catch(error => {
                console.error('Error:', error);
                alert('An error occurred');
            });
        });
    });
</script>

</body>
</html>
